<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input
      (onDebounce)="sugerencias($event)" (onEnter)="buscar($event)" placeholder="Buscar Pais">
    </app-pais-input>
  </div>
</div>
<ul *ngIf="paisesSugeridos.length>0" class="list-group">
  <li
    *ngFor="let pais of paisesSugeridos"
    class="list-group-item list-group-item-action">
    <a class="nav-link" [routerLink]="['/pais',pais.alpha2Code]">
      {{pais.name}}
    </a>

  </li>
</ul>
<hr>

<div *ngIf="hayError" class="alert alert-danger">
  Nop se encontró nada con el termino {{termino}}
</div>

<div *ngIf="paises.length>0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
